{% extends "layouts/guidance.html" %}

{% set sectionId = "community" %}
{% set pageTitle = "Propose a component or pattern" %}
{% set pageId = "propose-a-component-or-pattern" %}

{% block subNav %}
  {% include "community-subnav.html" %}
{% endblock %}

{% block pageContent %}

  <h1 class="govuk-heading-xl"><span class="govuk-caption-xl">Community guides</span> Propose a component or pattern</h1>

  <div class="app-prose-scope">
    {% markdown %}{% include "./README.md" %}{% endmarkdown %}
  </div>

  {{dsContactPanel()}}

{% endblock %}
