The internal services footer is based on the standard GOV.UK footer component but with the copyright notice and Royal Coat of Arms removed.

You may also want to read our step-by-step guidance on [adapting the GOV.UK Prototype Kit for use with internal services](https://github.com/dwp/design-system/discussions/347), including changing the default font and removing other branding elements. 

## When to use this component
Use this footer for internal services not hosted on service.gov.uk domains. Users of these services will normally be DWP staff but may also include staff of other organisations such as local authorities. 

## When not to use this component
If your service is hosted on a service.gov.uk domain it should use the [GOV.UK Design System footer component](https://design-system.service.gov.uk/components/footer/).

## How it works
Like the GOV.UK footer, the internal services footer can be adapted to the needs of your service. When deciding what information to place in the footer, remember that:
- information placed in the footer is sometimes skipped or not noticed
- the grey background lowers the contrast ratio which will limit readability for some people

### Footer with links 
{{dsExample({
  name: 'internal-services-footer',
  example: 'meta-links',
  height: 140
})}}

### Footer with secondary navigation
{{dsExample({
  name: 'internal-services-footer',
  example: 'default',
  height: 140
})}}

### Footer with links, secondary navigation and plain text
{{dsExample({
  name: 'internal-services-footer',
  example: 'nav-and-links',
  height: 140
})}}

## Research

### Have you used this component?
Please let us know what you found so we can make it better for everyone. There is an [open discussion for this component on GitHub](https://github.com/dwp/design-system-community-backlog/discussions/90) where you can share anything you think might be useful.

[Discuss Internal services footer on GitHub](https://github.com/dwp/design-system-community-backlog/discussions/90)

