{%- from "_macros/example/macro.njk" import dsExample -%}
{%- from "_macros/mobile-navigation/macro.njk" import appMobileNavigation -%}  {# TODO: shorten paths #}
{%- from "_macros/navigation/macro.njk" import appNavigation -%}
{%- from "_macros/sub-navigation/macro.njk" import appSubNavigation -%}
{%- from "tag/macro.njk" import govukTag -%}
{%- from "phase-banner/macro.njk" import govukPhaseBanner -%}
{%- from "skip-link/macro.njk" import govukSkipLink -%}

<!DOCTYPE html>
<html class="govuk-template" lang="en">
<head>
	<script>
		dataLayer = [{
		'gtm.whitelist': ['ua', 'cl', 'lcl', 'fsl', 'tl', 'jel', 'hl', 'v', 'c', 'ctv', 'e', 'dbg', 'd', 'f', 'j', 'smm', 'r' ,'u', 'gas', 'remm', 'vis', 'evl' , 'sdl' ]
		}];
		(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-TLRPN4P');
	</script>
	<!-- End Google Tag Manager -->
	<meta charset="utf-8">
	<title>{{pageTitle}} - DWP Design System</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#0b0c0c">
	<link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="/public/images/dwp-apple-touch-icon-152x152.png" sizes="152x152">
	<link rel="apple-touch-icon" href="/public/images/dwp-apple-touch-icon-120x120.png" sizes="120x120">
	<link rel="apple-touch-icon" href="/public/images/dwp-apple-touch-icon-76x76.png" sizes="76x76">
	<link rel="apple-touch-icon" href="/public/images/dwp-apple-touch-icon-60x60.png">
	<meta name="description" content="Design your service using DWP styles, components and patterns">
	<meta property="og:image" content="/public/images/dwp-opengraph-image.png">
	

	<!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet"><![endif]-->
	<!--[if gt IE 8]><!--><link href="/public/stylesheets/application.css" rel="stylesheet"><!--<![endif]-->

</head>
<body class="govuk-template__body">
	<!-- Google Tag Manager (noscript) -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TLRPN4P" height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->
	<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
	{% include "_cookie-banner.njk" %}
	{% block body %}{% endblock %}
	{% block bodyEnd %}
		{% block scripts %}
			{% include "scripts.html" %}
			{% block pageScripts %}{% endblock %}
		{% endblock %}
	{% endblock %}
</body>
</html>
