{% extends "base.html" %}
{% set navItems = {
    sectionId: sectionId,
    pageId: pageId,
    navItems: navItems
} %}
{% set subNavParams = {
    pageId: pageId,
		pageTitle: pageTitle,
    sectionId: sectionId,
    navItems: navItems
  } %}
{% block body %}
  {% block skipLink %}
    {{ govukSkipLink({
      href: '#main-content',
      text: 'Skip to main content'
    }) }}
  {% endblock %}
{% block main %}
  <div class="app-pane app-pane--enabled" id="top">
    {% include "_header.html" %}
    <div class="app-phase-banner__wrapper">
      {{ govukPhaseBanner({
        classes: "govuk-phase-banner app-phase-banner app-width-container app-phase-banner--no-border",
        tag: {
          text: "alpha"
        },
        html: 'This is a new service – your <a class="govuk-link" href="mailto:dwp-design-system@engineering.digital.dwp.gov.uk">feedback</a> will help us to improve it.'
      }) }}
    </div>
    {{appMobileNavigation(navItems)}}
    {{appNavigation(navItems)}}
    <div class="app-pane__content">
      <main id="main-content" role="main">
        {% block pageContent %}{% endblock %}
      </main>
    {% endblock %}
  </div>
    {% include "_footer.njk" %}
</div>
{% endblock %}
