<div class="app-contact-panel">
  <h2 class="app-contact-panel__heading">Get in touch</h2>
  <p class="app-contact-panel__body">If you’ve got a question, idea or suggestion share it in #design-system channel on Slack or email the Design System team on <a class="app-contact-panel__link" href="mailto:dwp-design-system@engineering.digital.dwp.gov.uk">dwp-design-system@engineering.digital.dwp.gov.uk</a></p>
</div>