/* ==========================================================================
   #EXAMPLE
   ========================================================================== */
.app-example-wrapper {
  @include govuk-responsive-margin(6, "top");
  @include govuk-responsive-margin(6, "bottom");

  // HACK - this feels like a hack, will need revisiting
  @supports (margin: max(0px)) {
    .govuk-width-container {
        margin-right: max(30px, 15px);
        margin-left: max(30px, 15px);
    }
  }
}

.app-example {
  position: relative;
  border: 1px solid $govuk-border-colour;
  border-bottom: 0;
  // Add a 'checkerboard' background
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJUlEQVQoU2P88ePHfwY0wMHBwYguxjgUFKI7GsTH5m4M3w1ChQAZTSeO0/AZpgAAAABJRU5ErkJggg==") repeat;
}

.app-example--tabs {
  @include govuk-responsive-margin(0, "bottom");
}

.app-example__toolbar {
  padding: 10px;
  border-bottom: 1px solid $govuk-border-colour;
  background: $govuk-body-background-colour;
}

pre,
.app-example__code {
  background-color: govuk-colour("light-grey");
  padding: 10px 10px 0 0;
  position: relative;
  @include govuk-font($size: 19);
}

.app-example__new-window {
  @include govuk-font($size: 14);
}

.app-example__copy-code-button {
  font-family: arial, sans-serif;
  z-index: 1;
  min-width: 110px;
  padding: 3px 10px;
  margin-right: 0;
  margin-left: auto;
  display: block;
  border: 1px solid #00823b;
  color: #00823b;
  box-shadow: 0 2px 0 0 govuk-colour("green");
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.25;
  background-color: govuk-colour("white");

  &:active,
  &:focus {
    padding: 2px 10px;
    border: 2px solid govuk-colour("yellow");
    outline: 2px solid transparent;
    box-shadow: none;
  }
}

.app-example__table-col {
  width: 33.3%;
}