This is currently experimental because more research is needed.

Use this pattern to warn users that their session is about to end and explain what has happened after the session has timed out.

A timeout warning helps services meet <a href="https://www.w3.org/TR/WCAG21/#timing-adjustable">WCAG 2.1 success criterion 2.2.1</a> 'timing adjustable'. This means a service must warn users before a session timeout occurs and allow them to extend the session.

{{dsExample({
  name: 'manage-session-timeout',
  example: 'default',
  height: 450
})}}

## When to use this pattern

If your service has sessions, it will time the user out when they do not do anything for a set amount of time. This is for security reasons.

You should warn a user at least 2 minutes before the end of this time. This will give them time to decide if they want to keep using the service.

## How it works

Show the user the timeout warning at least 2 minutes before the time runs out. This should be shown to the user in a modal dialog, also known as a pop-up. The modal dialog is based on the information in the <a href="https://github.com/alphagov/govuk-design-system-backlog/issues/30">GDS design system community backlog</a>.

The user can:

- select a button to stay in the service and not time out
- press the escape key to close the warning, stay in the service and not time out
- do nothing

If the user does nothing within the time limit, redirect them to a timeout page. This page explains what has happened and gives them options for how to continue.

### When the user is signed in to a service

If a user signs in to your service, tell them they will be signed out if the time runs out. You should tell the user if any information they have entered will be deleted or not. You should include a countdown of the remaining time.

{{dsExample({
  name: 'manage-session-timeout',
  example: 'signedin',
  height: 300
})}}

If the user does not continue the session they are redirected to a page that tells them the time has run out. You should tell the user if any information they have entered has been deleted or not.

{{dsExample({
  name: 'manage-session-timeout',
  example: 'timeout-signedin',
  height: 300
})}}

### When the user is not signed in to a service

If a user is not signed in to your service, tell them their answers will be deleted if the time runs out. You should include a countdown of the remaining time.


{{dsExample({
  name: 'manage-session-timeout',
  example: 'notsignedin',
  height: 300
})}}

If the user does not continue the session they are redirected to a page that tells them the the time has run out.

{{dsExample({
  name: 'manage-session-timeout',
  example: 'timeout-notsignedin',
  height: 300
})}}


## If the user’s device is not running JavaScript

If the user’s device is not running JavaScript, the timeout warning should be shown in a <a href="https://design-system.service.gov.uk/components/notification-banner/">notification banner</a>. The content included in the banner will depend on if the user is signed in to a service or not.

{{dsExample({
  name: 'manage-session-timeout',
  example: 'nojs-timeout',
  height: 450
})}}

## Technical details

The service team should work with security teams to agree the length of inactivity before the user is timed out of a session. We recommend at least 20 minutes. Services should not limit the number of times users can extend their session.

## Research on this pattern

More research is needed on the pattern.

## Help improve this page

To help make sure that this page is useful, relevant and up to date, you can share your research and feedback on <a href="">GitHub</a>.
