<div class="dwp-!-background-grey govuk-!-margin-bottom-4 govuk-!-padding-2">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third-from-mobile govuk-!-margin-bottom-0">
            <img class="govuk-!-margin-bottom-0" src="../../../../public/images/mikey-team.jpg" alt="">
        </div>
         <div class="govuk-grid-column-two-thirds-from-mobile govuk-!-margin-bottom-0 govuk-!-padding-2">
            <h2 class="govuk-heading-m govuk-!-font-weight-bold">Mikey Cattell - Interaction Design</h2>
            <ul class="govuk-list govuk-!-padding-0">
                <li class="dwp-!-list-inline govuk-!-margin-right-2">
                    <a href="https://dwpdigital.slack.com/archives/DKJDRN9AB">Contact on slack</a>
                </li>
                 <li class="dwp-!-list-inline">
                    Email: <a href="mailto:mikey.cattell@engineering.digital.dwp.gov.uk">mikey.cattell@engineering.digital.dwp.gov.uk</a>
                </li>
            </ul>
            <p>Things I'm working on this sprint:</p>
             <ul class="govuk-list govuk-!-padding-0 dwp-!-no-bullet">
                <li>
                    Toggle to Welsh pattern
                </li>
                 <li>
                    Key details bar component
                </li>

                <li>
                Internal services header component
                </li>

            </ul>
        </div>
    </div>
</div>
