The timeline is a way to display updates to something or actions that have been done. For example a claim history.

{{dsExample({
  name: 'timeline',
  example: 'default',
  height: 454
})}}

## When to use this pattern

Use the timeline when you need to show a list of entries that can be followed in chronological order.

The timeline should use give a brief overview of what has happened, and not used to display large bodies of text.

The timeline has currently only been researched in agent-facing systems so you will need to research it thouroughly in a citizen-facing service.


## When not to use this pattern

The timeline should not mix past and future events. If you need to show both past and future events, show them as separate timelines or use an alternative design.

The timeline should not be used as a dumping ground for notes. It is to give an understanding of what has happened, not all the details of the task.

## Research on this pattern

<ul>
  <li>User type: Agents</li>
  <li>Accessibility: Tested on JAWS, Dragon, Zoomtext and Read&Write</li>
</ul>

Examples of these can be seen on the Manage Bereavement Support Payment, Access to work, Prepare for Universal Credit, Support for Mortgage Interest

## Help improve this page
To help make sure that this page is useful, relevant and up to date, you can share your research and feedback on <a href="https://github.com/dwp/design-system-community-backlog/issues/1">GitHub</a>.
