# Retired patterns

Patterns and components are retired when they are no longer needed: usually when there is a pattern in the GOV.UK Design System that meets the same need.

<ul>
  <li><a href="retired-patterns/consent-to-cookies">Consent to cookies</a></li>
</ul>