{{dsSubnav({
  sections: [{
    heading: {
      text: 'Contributing to the design system'
    },
    items: [{
      title: 'Backlog',
      link: '/community/backlog',
      selected: pageId == 'backlog'
    }, {
      title: 'Propose a component or pattern',
      link: '/community/propose-a-component-or-pattern',
      selected: pageId == 'propose-a-component-or-pattern'
    }, {
      title: 'Contribution criteria',
      link: '/community/contribution-criteria',
      selected: pageId == 'contribution-criteria'
    }
    ]}
    ]
  })
}}