{{dsSubnav({
  sections: [{
    heading: { text: 'Help users to...'},
    items: [
    {
      title: 'Consent to cookies',
      link: '/patterns/consent-to-cookies',
      selected: pageId == 'consent-to-cookies'
    },
    {
      title: 'Manage session timeout',
      link: '/patterns/manage-session-timeout',
      selected,: pageId == 'manage-session-timeout'
    },
    {
      title: 'Make a declaration',
      link: '/patterns/make-a-declaration',
      selected: pageId == 'declaration'
    }
  ]
}]
}) }}
