{% extends "guidance.html" %}

{% set sectionId = "backlog" %}
{% set pageTitle = "Backlog" %}
{% set pageId = "backlog" %}

{% block pageContent %}
  <div class="app-prose-scope">
    {% markdown %}{% include "./README.md" %}{% endmarkdown %}
    <h3 id="goals">In progress</h3>
    {% include "_backlog-todo-table.njk" %}
    <h3 id="goals">Community backlog</h3>
    {% include "_backlog-table.njk" %}

  <h3 id="goals">DWP Design Examples</h3>
    <p>Here is a list of the components and patterns that have been captured in the <a href="https://dwpdigital.atlassian.net/wiki/spaces/INTD/pages/131921347136/DWP+Design+Examples">DWP Design Examples (opens in confluence)</a>. The library is owned by the DWP Interaction Design community.</p>
    {% include "_backlog-researchlibrary-table.njk" %}
  </div>
{% endblock %}
{% block pageContentFoot %}

    <div class="govuk-!-margin-top-4">
    {% include "_contact-panel.njk" %}
  </div
{% endblock %}
