{% from "details/macro.njk" import govukDetails %}

{% if params.section.length %}
  {% set section = (params.section + '/') %}
{% else %}
  {% set section = 'components/' %}
{% endif %}

{% if params.height %}
  {% set height = params.height %}
{% else %}
  {% set height = 350 %}
{% endif %}

{% set codeUrl = './app/views/' + section + params.name + '/examples/'+params.example+'/template.html' %}
{% set exampleUrl = '/' + section + params.name + '/examples/' + params.example %}

{% if section == 'components/' %}
  {% set paramsUrl = 'node_modules/@dwp/frontend/components/' + params.name + '/' + params.name + ".yaml" %}
  {% set macroOptions %}
    <p>
      Use options to customise the appearance, content and behaviour of a component when using a macro, for example, changing the text.
    </p>
    <p>
      Some options are required for the macro to work; these are marked as "Required" in the option description.
    </p>
    <p>
      If you're using Nunjucks macros in production with "html" options, or ones ending with "html", you must sanitise the HTML to protect against  <a href="https://developer.mozilla.org/en-US/docs/Glossary/Cross-site_scripting">cross-site scripting exploits</a>.
    </p>

    <table class="govuk-table app-example__table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header app-example__table-col" scope="col">Name</th>
          <th class="govuk-table__header app-example__table-col" scope="col">Type</th>
          <th class="govuk-table__header app-example__table-col" scope="col">Description</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
          {# Indentation here is odd because the code is displayed otherwise #}
          {% for param in getMacroParams(paramsUrl) %}
        <tr class="govuk-table__row">
          <th class="govuk-table__header app-example__table-col" scope="row">{{ param.name }}</th>
          <td class="govuk-table__cell app-example__table-col">{{ param.type }}</td>
          <td class="govuk-table__cell app-example__table-col">{% if (param.required === true) %}<strong>Required.</strong>{% endif %}{{ param.description }}</td>
        </tr>
          {% endfor %}
      </tbody>
    </table>
  {% endset %}
{% endif %}

{% set htmlCode %}
  {% code %}html
    {{ getHtmlCode(codeUrl) | safe}}
  {% endcode %}
{% endset %}

{% set nunjucksCode %}
  {% code %}js
    {{ getNunjucksCode(codeUrl) | safe}}
  {% endcode %}
{% endset %}

<div class="app-example-wrapper" data-module="app-tabs">
  <div class="app-example app-example--tabs">
    <div class="app-example__toolbar">
      <a href="{{ exampleUrl }}" class="app-example__new-window" target="_blank">
        Open this <span class="govuk-visually-hidden">{{ params.name | lower }}-{{ params.example | lower }}</span> example in a new tab
      </a>
    </div>
    <iframe class="app-example__frame app-example__frame--resizable" height="{{height}}" src="{{ exampleUrl }}" frameBorder="0" scrolling="no" loading="lazy"></iframe>
  </div>

  <div class="app-tabs">
    <ul class="app-tabs__list">
      <li class="app-tabs__list-item"><a class="app-tabs__tab" href="#html{{'-' + params.example}}" role="tab">HTML</a></li>
      <li class="app-tabs__list-item"><a class="app-tabs__tab" href="#nunjucks{{'-' + params.example}}" role="tab">Nunjucks</a></li>
    </ul>

    <div class="app-tabs__panel app-js-hidden" id="html{{'-' + params.example}}" role="tabpanel" aria-hidden="true">
      <div class="app-example__code">
        <button class="app-example__copy-code-button" aria-live="assertive">Copy code</button>
        {{ htmlCode| safe }}
      </div>
    </div>

    <div class="app-tabs__panel app-js-hidden" id="nunjucks{{'-' + params.example}}" role="tabpanel" aria-hidden="true">
      {% if section == 'components/' %}
        {{ govukDetails({
          summaryText: "Nunjucks macro options",
          html: macroOptions,
          classes: "app-tabs__panel__details"
        }) }}
      {% endif %}
      <div class="app-example__code">
        <button class="app-example__copy-code-button" aria-live="assertive">Copy code</button>
        {{ nunjucksCode | safe}}
      </div>
    </div>
  </div>
</div>
