<div class="dwp-!-background-grey govuk-!-margin-bottom-4 govuk-!-padding-2">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third-from-mobile govuk-!-margin-bottom-0">
            <img class="govuk-!-margin-bottom-0" src="../../../../public/images/daniella-team.jpg" alt="">
        </div>
         <div class="govuk-grid-column-two-thirds-from-mobile govuk-!-margin-bottom-0 govuk-!-padding-2">
            <h2 class="govuk-heading-m govuk-!-font-weight-bold">Daniella Taylor – Development</h2>
            <ul class="govuk-list govuk-!-padding-0">
                <li class="dwp-!-list-inline govuk-!-margin-right-2">
                   DWP Slack: daniella.taylor
                </li>
                 <li class="dwp-!-list-inline">
                    Email: <a href="mailto:daniella.taylor@engineering.digital.dwp.gov.uk">daniella.taylor@engineering.digital.dwp.gov.uk</a>
                </li>
            </ul>
          
        </div>
    </div>
</div>
