<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="robots" content="noindex, nofollow">
	<title>{{pageTitle}} - DWP Design System</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--[if gt IE 8]><!-->
	<link href="/public/stylesheets/application.css" rel="stylesheet">
	<!--<![endif]-->

</head>

<body>
	<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
	{% block body %}
	<div class="app-example-page">
		{% block pageContent %}{% endblock %}
	</div>
	{% endblock %}
	{% include "scripts.html" %}
	{% block pageScripts %}{% endblock %}
</body>

</html>