
{% extends "sidebar-width.html" %}
{% set sectionId = "about-this-website" %}
{% set pageTitle = "Accessibility" %}
{% set pageId = "accessibility" %}

{% block pageContent %}

<h1 class="govuk-heading-xl">Accessibility statement for the DWP Design System</h1>
<div class="page-description">
  <p>This accessibility statement applies to the DWP Design System website at <a href="https://design-system.dwp.gov.uk">design-system.dwp.gov.uk</a>.</p>
  <p>This website is run by the Department for Work and Pensions (DWP). We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>change colours, contrast levels and fonts</li>
    <li>zoom in up to 300% without the text spilling off the screen</li>
    <li>navigate the website using just a keyboard</li>
    <li>navigate the website using speech recognition software</li>
    <li>listen to the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
  </ul>
  <p>We’ve also made the website text as simple as possible to understand.</p>
  <p><a href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>
  <h2 class="govuk-heading-l">How accessible this website is</h2>
  <p>We have tested the content of this website for accessibility using a range of browsers and technologies including screen readers. It meets the ‘AA’ standard of the <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1.</a></p>
  <h2 class="govuk-heading-l">Reporting accessibility problems with this website</h2>
  <p>We’re always looking to improve the accessibility of this website. If you find any problems or think we’re not meeting accessibility requirements, contact the design system team on <a href="mailto:design-system-team@engineering.digital.dwp.gov.uk" title="mailto:design-system-team@engineering.digital.dwp.gov.uk">dwp-design-system@engineering.digital.dwp.gov.uk</a></p>
  <h2 class="govuk-heading-l">Technical information about this website’s accessibility</h2></h2>
  <p>DWP is committed to making its websites accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
  <h3 class="govuk-heading-m">Compliance status</h3>
  <p>This website is fully compliant with the Web Content Accessibility Guidelines version 2.1 AA standard.</p>
  <h3 class="govuk-heading-m">Feedback and contact information</h3>
  <p>If you need information on this website in a different format, email <a href="mailto:design-system-team@engineering.digital.dwp.gov.uk" title="mailto:design-system-team@engineering.digital.dwp.gov.uk">dwp-design-system@engineering.digital.dwp.gov.uk</a></p>
  <h3 class="govuk-heading-m">Enforcement procedure</h3>
  <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/"> contact the Equality Advisory and Support Service (EASS)</a>.</p>
  <h2 class="govuk-heading-l">Preparation of this accessibility statement</h2>
  <p>This statement was prepared on 23 June 2022. It was last reviewed on 23 June 2022.</p>
  <p>This website was last tested on 1 October 2021. The test was carried out by the DWP Accessibility Standards and Strategy Team.</p>
</div>

{% endblock %} 







