<table class="govuk-table app-table--constrained govuk-!-margin-bottom-6">
  <caption class="govuk-table__caption govuk-visually-hidden">List of components</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Name</th>
      <th class="govuk-table__header" scope="col">GitHub discussion</th>
      <th class="govuk-table__header" scope="col">Code example</th>
    </tr>
  </thead>

  <!-- Internal footer -->
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="/components/internal-services-footer" class="govuk-link govuk-!-font-weight-bold">Internal services footer</a></td>
      <td class="govuk-table__cell"><a href="https://github.com/dwp/design-system-community-backlog/discussions/90">#90</a></td>
      <td class="govuk-table__cell">Yes</td>
    </tr>
  </tbody>

  <!-- Hint text -->
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="/hint-text" class="govuk-link govuk-!-font-weight-bold">Hint text</a></td>
      <td class="govuk-table__cell"><a href="https://github.com/dwp/design-system-community-backlog/discussions/88">#88</a></td>
      <td class="govuk-table__cell">No</td>
    </tr>
  </tbody>

  <!-- Internal header -->
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="/components/internal-services-header" class="govuk-link govuk-!-font-weight-bold">Internal services header</a></td>
      <td class="govuk-table__cell"><a href="https://github.com/dwp/design-system-community-backlog/discussions/70">#70</a></td>
      <td class="govuk-table__cell">Yes</td>
    </tr>
  </tbody>
 
  <!-- Key details bar -->
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="/key-details-bar" class="govuk-link govuk-!-font-weight-bold">Key details bar</a></td>
      <td class="govuk-table__cell"><a href="https://github.com/dwp/design-system-community-backlog/discussions/78">#160</a></td>
      <td class="govuk-table__cell">Yes</td>
    </tr>
  </tbody>

 <!-- Timeline -->
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="/components/timeline" class="govuk-link govuk-!-font-weight-bold">Timeline</a></td>
      <td class="govuk-table__cell"><a href="https://github.com/dwp/design-system-community-backlog/discussions/67">#67</a></td>
      <td class="govuk-table__cell">Yes</td>
    </tr>
  </tbody>

</table>
