<div class="govuk-grid-row ds-grid-row">
  
  <div class="ds-grid-row--item govuk-!-padding-4 dwp-!-background-grey">
    <h3 class="govuk-heading-m govuk-!-font-weight-bold">Internal services footer</h3>
    <p class="govuk-body">The internal services footer is a simplified standard footer for services used by DWP staff or agents.</p>
    <p class="govuk-body govuk-!-margin-bottom-0"><a href="/components/internal-services-footer" class="govuk-link govuk-!-font-weight-bold">View internal services footer component</a></p>
  </div>

  <div class="ds-grid-row--item govuk-!-padding-4 dwp-!-background-grey">
    <h3 class="govuk-heading-m govuk-!-font-weight-bold">Hint text</h3>
    <p class="govuk-body">Hint text gives extra information that helps people to answer a question.</p>
    <p class="govuk-body govuk-!-margin-bottom-0"><a href="/components/hint-text" class="govuk-link govuk-!-font-weight-bold">View hint text component</a></p>
  </div>
  
  <div class="ds-grid-row--item govuk-!-padding-4 dwp-!-background-grey">
    <h3 class="govuk-heading-m govuk-!-font-weight-bold">Key details bar</h3>
    <p class="govuk-body">The key details bar groups and highlights the most relevant information on a page so that agents can find it easily.</p>
    <p class="govuk-body govuk-!-margin-bottom-0"><a href="/components/key-details-bar" class="govuk-link govuk-!-font-weight-bold">View key details bar component</a></p>
  </div>

</div>
