 {% from "internal-services-footer/macro.njk" import dwpFooter %}

  {{ dwpFooter({
    classes: "app-footer app-footer--full",
    containerClasses: "app-width-container",
     meta: {
      visuallyHiddenTitle: "About this website",
      items: [
        {
          href: "/accessibility",
          text: "Accessibility"
        },
        {
          href: "/cookie-details",
          text: "Cookies"
        },
         {
          href: "https://www.gov.uk/government/organisations/department-for-work-pensions/about/personal-information-charter",
          text: "Privacy"
        },{
          href: "/sitemap",
          text: "Sitemap"
        }
      ]
    }
  }) }}
 