{% extends "full-width.html" %}

{% set pageTitle = "Page not found" %}

{% block pageContent %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper app-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Page not found</h1>
        <p class="govuk-body">
          If you typed the web address, check it is correct.
        </p>
        <p class="govuk-body">
          If you pasted the web address, check you copied the entire address.
        </p>
        <p class="govuk-body">
         Something broken? Please <a href="https://github.com/dwp/design-system/issues?q=is%3Aissue+is%3Aopen+label%3A%22%F0%9F%90%9E+bug%22">raise a new issue on GitHub</a> using the ‘Bug report’ template, or email the design system team on <a href="mailto:dwp-design-system@engineering.digital.dwp.gov.uk">dwp-design-system@engineering.digital.dwp.gov.uk</a>.
        
        </p>
      </div>
    </div>
  </main>
</div>
{% endblock %}