<table class="govuk-table app-table--constrained govuk-!-margin-bottom-6">
  <caption class="govuk-table__caption govuk-visually-hidden">List of patterns</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Name</th>
      <th class="govuk-table__header" scope="col">GitHub discussion</th>
      <th class="govuk-table__header" scope="col">Code example</th>
    </tr>
  </thead>

<!-- Add another thing -->
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="/patterns/add-another-thing" class="govuk-link govuk-!-font-weight-bold">Add another thing</a></td>
      <td class="govuk-table__cell"><a href="https://github.com/dwp/design-system-community-backlog/discussions/87">#87</a></td>
      <td class="govuk-table__cell">Yes</td>
    </tr>
  </tbody>

  <!-- Make a declaration -->
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="/patterns/make-a-declaration" class="govuk-link govuk-!-font-weight-bold">Make a declaration</a></td>
      <td class="govuk-table__cell"><a href="https://github.com/dwp/design-system-community-backlog/discussions/69">#69</a></td>
      <td class="govuk-table__cell">Yes</td>
    </tr>
  </tbody>

  <!-- Session timeout -->
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="/patterns/manage-a-session-timeout" class="govuk-link govuk-!-font-weight-bold">Manage a session timeout</a></td>
      <td class="govuk-table__cell"><a href="https://github.com/dwp/design-system-community-backlog/discussions/66">#66</a></td>
      <td class="govuk-table__cell">Yes</td>
    </tr>
  </tbody>

  <!-- Toggle Welsh -->
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="/patterns/toggle-to-welsh" class="govuk-link govuk-!-font-weight-bold">Toggle to Welsh</a></td>
      <td class="govuk-table__cell"><a href="https://github.com/dwp/design-system-community-backlog/discussions/72">#72</a></td>
      <td class="govuk-table__cell">Yes</td>
    </tr>
  </tbody>


</table>
