<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-bottom-8">
    <div class="govuk-!-padding-4 dwp-!-background-grey">
      <h3 class="govuk-heading-m govuk-!-font-weight-bold">Add another thing</h3>
      <p class="govuk-body">Help users to add more than one thing of the same type. </p>
      <p class="govuk-body govuk-!-margin-bottom-0"><a href="/patterns/add-another-thing" class="govuk-link govuk-!-font-weight-bold">View Add another thing pattern</a></p>
    </div>
  </div>
 
 <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-bottom-8">
    <div class="govuk-!-padding-4 dwp-!-background-grey">
      <h3 class="govuk-heading-m govuk-!-font-weight-bold">Toggle to Welsh</h3>
      <p class="govuk-body">This pattern lets the user change the language used in a service from English to Welsh and from Welsh to English.</p>
      <p class="govuk-body govuk-!-margin-bottom-0"><a href="/patterns/toggle-to-welsh" class="govuk-link govuk-!-font-weight-bold">View toggle to Welsh pattern</a></p>
    </div>
  </div>

  <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-0-from-mobile govuk-!-margin-bottom-8">
    <div class="govuk-!-padding-4 dwp-!-background-grey">
      <h3 class="govuk-heading-m govuk-!-font-weight-bold">Manage session timeout</h3>
      <p class="govuk-body">Use this pattern to warn users that their session is about to end and explain what has happened after the session has timed out.</p>
      <p class="govuk-body govuk-!-margin-bottom-0"><a href="/patterns/manage-a-session-timeout" class="govuk-link govuk-!-font-weight-bold">View session timeout pattern</a></p>
      </div>
  </div>
  
</div>
