
{% extends "sidebar-width.html" %}
{% set sectionId = "about-this-website" %}
{% set pageTitle = "Sitemap" %}
{% set pageId = "sitemap" %}

{% block pageContent %}

<h1 class="govuk-heading-xl">Sitemap</h1>
<div class="page-description">

  <h2 class="govuk-heading-l"><a href="get-started">Get started</a></h2>
    <p><a href="get-started/html-and-css">HTML and CSS</a></p>
    <p><a href="get-started/npm">Installing using npm</a></p>

  <h2 class="govuk-heading-l"><a href="components">Components</a></h2>
    <p><a href="components/hint-text">Hint text</a></p>
    <p><a href="components/internal-services-footer">Internal services footer</a></p>
    <p><a href="components/internal-services-header">Internal services header</a></p>
    <p><a href="components/key-details-bar">Key details bar</a></p>
    <p><a href="components/timeline">Timeline</a></p>
    

  <h2 class="govuk-heading-l"><a href="patterns">Patterns</a></h2>
    <h3 class="govuk-heading-m">Help users to...</h3> 
    <p><a href="patterns/add-another-thing">Add another thing</a></p>
    <p><a href="patterns/add-another-thing/example">Add another thing: Example</a></p>
    <p><a href="patterns/make-a-declaration">Make a declaration</a></p>
    <p><a href="patterns/manage-a-session-timeout">Manage a session timeout</a></p>
    <p><a href="patterns/toggle-to-welsh">Toggle to Welsh</a></p>
    <h3 class="govuk-heading-m">Retired patterns</h3>
    <p><a href="patterns/retired-patterns/consent-to-cookies">Consent to cookies</a></p>

  <h2 class="govuk-heading-l"><a href="community">Community</a></h2>
    <p><a href="community/latest-updates">Latest updates</a></p>
    <p><a href="community/roadmap">Roadmap</a></p>
    <p><a href="community/backlog">Backlog</a></p>
    <p><a href="community/contribute">Contribute</a></p>
    <p><a href="community/team">The team</a></p>
</div>

{% endblock %} 






