<table class="govuk-table app-table--constrained govuk-!-margin-bottom-6">
  <thead>
    <tr>
      <th class="govuk-table__header">Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="govuk-table__cell">
        <a href="https://dwpdigital.atlassian.net/wiki/spaces/INTD/pages/132216489830/Accessible+date+picker">Accessible date picker</a>
      </td>
    </tr>
    <tr>
      <td class="govuk-table__cell">
        <a href="https://dwpdigital.atlassian.net/wiki/spaces/INTD/pages/132204463135/Agent+interfaces">Agent interfaces</a>
      </td>
    </tr>
    <tr>
      <td class="govuk-table__cell">
        <a href="https://dwpdigital.atlassian.net/wiki/spaces/INTD/pages/132256924926/Alternative+Formats">Alternative formats</a>
      </td>
    </tr>
    <tr>
      <td class="govuk-table__cell">
        <a href="https://dwpdigital.atlassian.net/wiki/spaces/INTD/pages/131986494178/Asking+for+binary+sex+data">Asking for binary sex data</a>
      </td>
    </tr>
    <tr>
      <td class="govuk-table__cell">
        <a href="https://dwpdigital.atlassian.net/wiki/spaces/INTD/pages/132208788778/Capture+International+Addresses">Capture International Addresses</a>
      </td>
    </tr>

    <tr>
      <td class="govuk-table__cell">
        <a href="https://dwpdigital.atlassian.net/wiki/spaces/INTD/pages/131987087895/Citizen+facing+Habitual+Residency+test+Residency">Citizen facing Habitual Residency test [Residency]</a>
      </td>
    </tr>
    <tr>
      <td class="govuk-table__cell">
        <a href="https://dwpdigital.atlassian.net/wiki/spaces/INTD/pages/132105603170/Enter+address+postcode+look+up">Enter address (postcode look up)</a>
      </td>
    </tr>
    <tr>
      <td class="govuk-table__cell">
        <a href="https://dwpdigital.atlassian.net/wiki/spaces/INTD/pages/132105734313/Find+a+citizen+record+National+Insurance+number">Find a citizen record (National Insurance number)</a>
      </td>
    </tr>
    <tr>
      <td class="govuk-table__cell">
        <a href="https://dwpdigital.atlassian.net/wiki/spaces/INTD/pages/132095413448/Get+support+to+use+the+digital+service">Get support to use the digital service</a>
      </td>
    </tr>
    <tr>
      <td class="govuk-table__cell">
        <a href="https://dwpdigital.atlassian.net/wiki/spaces/INTD/pages/132256926576/Key+details+bar">Key details bar</a>
      </td>
    </tr>

    <tr>
      <td class="govuk-table__cell">
        <a href="https://dwpdigital.atlassian.net/wiki/spaces/INTD/pages/131986494319/Print+something">Print something</a>
      </td>
    </tr>
    <tr>
      <td class="govuk-table__cell">
        <a href="https://dwpdigital.atlassian.net/wiki/spaces/INTD/pages/132240245154/Sign+out+of+a+service">Sign out of a service</a>
      </td>
    </tr>

  </tbody>
</table>
