<table class="govuk-table app-table--constrained govuk-!-margin-bottom-6">
  <thead>
    <tr>
      <th class="govuk-table__header">Name</th>
      <th class="govuk-table__header" style="width: 90px; text-align: right">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="govuk-table__cell">
        <a href="https://github.com/dwp/design-system/issues/162">Add another thing</a>
      </td>
      <td class="govuk-table__cell govuk-body-s" style="text-align: right">
        In progress
      </td>
    </tr>
        <tr>
      <td class="govuk-table__cell">
        <a href="https://github.com/dwp/design-system/issues/238">Get help with an application or service</a>
      </td>
      <td class="govuk-table__cell govuk-body-s" style="text-align: right">
        In progress
      </td>
    </tr>
     <tr>
      <td class="govuk-table__cell">
        <a href="https://github.com/dwp/design-system/issues/240">Hint text</a>
      </td>
      <td class="govuk-table__cell govuk-body-s" style="text-align: right">
        In progress
      </td>
    </tr>
  </tbody>
</table>
