<table class="govuk-table app-table--constrained govuk-!-margin-bottom-6">
  <thead>
    <tr>
      <th class="govuk-table__header">Name</th>
      <th class="govuk-table__header" style="width: 90px; text-align: right">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="govuk-table__cell">
        <a href="https://github.com/dwp/design-system-community-backlog/issues/60">Add items to a list</a>
      </td>
      <td class="govuk-table__cell govuk-body-s" style="text-align: right">
        Proposed
      </td>
    </tr>
    <tr>
      <td class="govuk-table__cell">
        <a href="https://github.com/dwp/design-system-community-backlog/issues/30">Advisor instructions/actions</a>
      </td>
      <td class="govuk-table__cell govuk-body-s" style="text-align: right">
        Proposed
      </td>
    </tr>
    <tr>
      <td class="govuk-table__cell">
        <a href="https://github.com/dwp/design-system-community-backlog/issues/59">Alternative form of contact with citizen needed</a>
      </td>
      <td class="govuk-table__cell govuk-body-s" style="text-align: right">
        Proposed
      </td>
    </tr>
    <tr>
      <td class="govuk-table__cell">
        <a href="https://github.com/dwp/design-system-community-backlog/issues/57">Claim start date</a>
      </td>
      <td class="govuk-table__cell govuk-body-s" style="text-align: right">
        Proposed
      </td>
    </tr>
    <tr>
      <td class="govuk-table__cell">
        <a href="https://github.com/dwp/design-system-community-backlog/issues/29">Confirm action</a>
      </td>
      <td class="govuk-table__cell govuk-body-s" style="text-align: right">
        Proposed
      </td>
    </tr>

    <tr>
      <td class="govuk-table__cell">
        <a href="https://github.com/dwp/design-system-community-backlog/issues/61">Confirmation of actions of Agent screens</a>
      </td>
      <td class="govuk-table__cell govuk-body-s" style="text-align: right">
        Proposed
      </td>
    </tr>
    <tr>
      <td class="govuk-table__cell">
        <a href="https://github.com/dwp/design-system-community-backlog/issues/51">Contact preferences</a>
      </td>
      <td class="govuk-table__cell govuk-body-s" style="text-align: right">
        Proposed
      </td>
    </tr>
    <tr>
      <td class="govuk-table__cell">
        <a href="https://github.com/dwp/design-system-community-backlog/issues/56">Display CIS Markers</a>
      </td>
      <td class="govuk-table__cell govuk-body-s" style="text-align: right">
        Proposed
      </td>
    </tr>
    <tr>
      <td class="govuk-table__cell">
        <a href="https://github.com/dwp/design-system-community-backlog/issues/65">Error/Timeout pages when we can't infer the language</a>
      </td>
      <td class="govuk-table__cell govuk-body-s" style="text-align: right">
        Proposed
      </td>
    </tr>
    <tr>
      <td class="govuk-table__cell">
        <a href="https://github.com/dwp/design-system-community-backlog/issues/28">Filters</a>
      </td>
      <td class="govuk-table__cell govuk-body-s" style="text-align: right">
        To do
      </td>
    </tr>
    <tr>
      <td class="govuk-table__cell">
        <a href="https://github.com/dwp/design-system-community-backlog/issues/8">Find my address by postcode/house number</a>
      </td>
      <td class="govuk-table__cell govuk-body-s" style="text-align: right">
        Proposed
      </td>
    </tr>
    <tr>
      <td class="govuk-table__cell">
        <a href="https://github.com/dwp/design-system-community-backlog/issues/31">Find someone</a>
      </td>
      <td class="govuk-table__cell govuk-body-s" style="text-align: right">
        Proposed
      </td>
    </tr>
    <tr>
      <td class="govuk-table__cell">
        <a href="https://github.com/dwp/design-system-community-backlog/issues/25">Navigation menu</a>
      </td>
      <td class="govuk-table__cell govuk-body-s" style="text-align: right">
        To do
      </td>
    </tr>
    <tr>
      <td class="govuk-table__cell">
        <a href="https://github.com/dwp/design-system-community-backlog/issues/53">Pagination control</a>
      </td>
      <td class="govuk-table__cell govuk-body-s" style="text-align: right">
        Proposed
      </td>
    </tr>
    <tr>
      <td class="govuk-table__cell">
        <a href="https://github.com/dwp/design-system-community-backlog/issues/32">Presenting the amount and terms of financial support</a>
      </td>
      <td class="govuk-table__cell govuk-body-s" style="text-align: right">
        Proposed
      </td>
    </tr>
    <tr>
      <td class="govuk-table__cell">
        <a href="https://github.com/dwp/design-system-community-backlog/issues/27">Search</a>
      </td>
      <td class="govuk-table__cell govuk-body-s" style="text-align: right">
        Proposed
      </td>
    </tr>
    <tr>
      <td class="govuk-table__cell">
        <a href="https://github.com/dwp/design-system-community-backlog/issues/5">Staying Safe online</a>
      </td>
      <td class="govuk-table__cell govuk-body-s" style="text-align: right">
        Proposed
      </td>
    </tr>

    <tr>
      <td class="govuk-table__cell">
        <a href="https://github.com/dwp/design-system-community-backlog/issues/62">Upload documents</a>
      </td>
      <td class="govuk-table__cell govuk-body-s" style="text-align: right">
        Proposed
      </td>
    </tr>
  </tbody>
</table>
