<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-bottom-8">
    <div class="govuk-!-padding-4 dwp-!-background-grey">
      <h3 class="govuk-heading-m govuk-!-font-weight-bold">Timeline</h3>
      <p class="govuk-body">The timeline is a way to display updates to something or actions that have been done.</p>
      <p class="govuk-body govuk-!-margin-bottom-0"><a href="/components/timeline" class="govuk-link govuk-!-font-weight-bold">View timeline component</a></p>
    </div>
  </div>
  <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-bottom-8">
    <div class="govuk-!-padding-4 dwp-!-background-grey">
      <h3 class="govuk-heading-m govuk-!-font-weight-bold">Internal services header</h3>
      <p class="govuk-body">The internal services header shows users what service or system they are using.</p>
      <p class="govuk-body govuk-!-margin-bottom-0"><a href="/components/internal-header" class="govuk-link govuk-!-font-weight-bold">View internal header component</a></p>
    </div>
  </div>
  <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-bottom-8">
    <div class="govuk-!-padding-4 dwp-!-background-grey">
      <h3 class="govuk-heading-m govuk-!-font-weight-bold">Key details bar</h3>
      <p class="govuk-body">The key details bar groups and highlights the most relevant information on a page so that agents can find it easily.</p>
      <p class="govuk-body govuk-!-margin-bottom-0"><a href="/components/key-details-bar" class="govuk-link govuk-!-font-weight-bold">View key details bar component</a></p>
    </div>
  </div>
</div>


