<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-bottom-8">
    <div class="govuk-!-padding-4 dwp-!-background-grey">
      <h3 class="govuk-heading-m govuk-!-font-weight-bold">How to propose a component or pattern</h3>
      <p class="govuk-body">Contribute ideas and get involved with the DWP Design System.</p>
      <p class="govuk-body govuk-!-margin-bottom-0"><a href="/contribute" class="govuk-link govuk-!-font-weight-bold">Find out how to get involved</a></p>
    </div>
  </div>
    <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-bottom-8">
    <div class="govuk-!-padding-4 dwp-!-background-grey">
      <h3 class="govuk-heading-m govuk-!-font-weight-bold">Community backlog</h3>
      <p class="govuk-body">See what people are currently working on in the community backlog.</p>
      <p class="govuk-body govuk-!-margin-bottom-0"><a href="/backlog" class="govuk-link govuk-!-font-weight-bold">View community backlog</a></p>
    </div>
  </div>
  <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-bottom-8">
    <div class="govuk-!-padding-4 dwp-!-background-grey">
      <h3 class="govuk-heading-m govuk-!-font-weight-bold">GitHub Discussions</h3>
      <p class="govuk-body">We're using GitHub Discussions to help the community talk to us about our components and patterns.</p>
      <p class="govuk-body govuk-!-margin-bottom-0"><a href="https://github.com/dwp/design-system-community-backlog/discussions" class="govuk-link govuk-!-font-weight-bold">Join the discussion</a></p>
    </div>
  </div>
</div>
