{% extends "landing.html" %}

{% set pageTitle = "Page not found" %}

{% block pageContent %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper app-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Page not found</h1>
        <p class="govuk-body">
          If you typed the web address, check it is correct.
        </p>
        <p class="govuk-body">
          If you pasted the web address, check you copied the entire address.
        </p>
        <p class="govuk-body">
          Something broken? please <a href="https://github.com/dwp/design-system/issues" class="govuk-link">raise an issue on GitHub</a>.
        </p>
      </div>
    </div>
  </main>
</div>
{% endblock %}