Use the timeline component to show a linear record of what has happened.

The timeline component has only been researched on agent-facing services.

{{dsExample({
  name: 'timeline',
  example: 'default',
  height: 454
})}}

## When to use this component

Use the timeline component when you need to show a history of information or events that can be followed in chronological order.

The timeline should show a brief overview of what has happened at each point and should not be used to give in-depth information.

## When not to use this component

The timeline should not be used to include and show large amounts of information.

You should not use the timeline component if you need to let users know where they are in a journey.

## How it works

The timeline should display information in chronological order, with the newest item appearing at the top of the timeline.

Each entry in the timeline should include:

<ul>
<li>a short title that clearly explains what happened</li>
<li>the name of who updated the timeline</li>
<li>the date and time it was updated</li>
</ul>

## Research on this component

This component has been used on services across DWP, including:

<ul>
<li>Manage Bereavement Support Payment</li>
<li>Access to work</li>
<li>Prepare for Universal Credit</li>
<li>Support for mortgage interest</li>
<li>Apply for New Style Jobseeker's Allowance</li>
</ul>

The timeline has only been researched on agent-facing services. More research is needed on the component.

You can help to improve this pattern by:

<ul>
<li>joining the <a href="https://github.com/dwp/design-system-community-backlog/discussions/67">discussion on GitHub</a></li>
<li>adding to the <a href="https://github.com/dwp/design-system-community-backlog/issues/24">community backlog ticket</a></li>
<li>using the <a href="https://dwpdigital.slack.com/archives/CJ11B0VFV">#design-system channel on Slack</a></li>
<li>emailing the Design System team on <a href="mailto:dwp-design-system@engineering.digital.dwp.gov.uk">dwp-design-system@engineering.digital.dwp.gov.uk</a></li>
</ul>
