{% extends "guidance.html" %}

{% set sectionId = "latest-updates" %}
{% set pageTitle = "Team updates" %}
{% set pageId = "team" %}

{% block pageContent %}
  <div class="app-prose-scope">
    {% markdown %}{% include "./README.md" %}{% endmarkdown %}
    {% include "latest-updates/_team-jon.njk" %}
    {% include "latest-updates/_team-helen.njk" %}
    {% include "latest-updates/_team-simone.njk" %}
    {% include "latest-updates/_team-mikey.njk" %}
  </div>
  <div class="govuk-!-margin-top-4">
    {% include "_contact-panel.njk" %}
  </div

{% endblock %}
