The internal services header shows users what service or system they are using.

{{dsExample({
  name: 'internal-services-header',
  description: 'Internal services header',
  example: 'default',
  height: 140
})}}

## When to use this component

Use this header for any service or system not on GOV.UK, such as internal and agent-facing services.

## When not to use this component

If the service is hosted on a service.gov.uk domain it should use the <a href="https://design-system.service.gov.uk/components/header/">GOV.UK Design System Header component.</a>

## How it works

The name of the service should be left-aligned in the header.

If your users can sign in or out of a service you should include a link for them to do this on the right-hand side of the header.

{{dsExample({
  name: 'internal-services-header',
  description: 'Internal services header when signed in',
  example: 'signin',
  height: 140
})}}

## Research on this component

This component has been used on services across DWP, including

<ul>
<li>Move to Universal Credit</li>
<li>Apply for New Style Jobseeker’s Allowance</li>
</ul>

The internal services header has only been researched on agent-facing services. More research is needed on the component.

You can help to improve this pattern by:

<ul>
<li>joining the <a href="https://github.com/dwp/design-system-community-backlog/discussions/70">discussion on GitHub</a></li>
<li>adding to the <a href="https://github.com/dwp/design-system-community-backlog/issues/58">community backlog ticket</a></li>
<li>using the <a href="https://dwpdigital.slack.com/archives/CJ11B0VFV"><span aria-hidden="true">#</span><span class="govuk-visually-hidden">hashtag</span>design-system channel on Slack</a></li>
<li>emailing the Design System team on <a href="mailto:dwp-design-system@engineering.digital.dwp.gov.uk">dwp-design-system@engineering.digital.dwp.gov.uk</a></li>
</ul>

