Help users to tell you that they have understood or agree to something before they submit an application or an online form. This is known as a ‘declaration’.

{{dsExample({
  section: 'patterns',
  name: 'make-a-declaration',
  description: 'Decleration pattern',
  example: 'default',
  height: 454
})}}

## When to use this pattern

You should use the declaration pattern when you need a user to confirm that they have understood the information they have been given or you need them to agree to something.

You should use this pattern if there are significant consequences to the user if they provide false information when using your service.

It should also be used if using your service could alter the user's quality of life. For example, if applying for a benefit might reduce other support they may be receiving.


## When not to use this pattern

Do not use this pattern to give users complex or complicated information about policy or legislation.

## How it works

The content should be clear and concise. The declaration should be tailored to the service and include information about what will happen if the user makes a false declaration.


## Research on this pattern
This pattern has been used in a number of DWP services.

The pattern has been amended by some services to:

<ul>
<li>include a tick box </li>
<li>include Yes/No radio options</li>
<li>include the declaration content at the bottom of a ‘Check your answers’ page</li>
</ul>

Examples of these can be seen on the Apply for New Style Jobseeker’s Allowance and Apply for Pension Credit services.

More research is needed on the pattern to validate the need for any changes to the pattern.

You can help to improve this pattern by:

<ul>
<li>joining the <a href="https://github.com/dwp/design-system-community-backlog/discussions/69">discussion on GitHub</a></li>
<li>adding to the <a href="https://github.com/dwp/design-system-community-backlog/issues/1">community backlog ticket</a></li>
<li>using the <a href="https://dwpdigital.slack.com/archives/CJ11B0VFV"><span aria-hidden="true">#</span><span class="govuk-visually-hidden">hashtag</span>design-system channel on Slack</a></li>
<li>emailing the Design System team on <a href="mailto:dwp-design-system@engineering.digital.dwp.gov.uk">dwp-design-system@engineering.digital.dwp.gov.uk</a></li>
</ul>
