{% extends "guidance.html" %}

{% set sectionId = "patterns" %}
{% set pageTitle = "Consent to cookies" %}
{% set pageId = "consent-to-cookies" %}

{% block pageContent %}

  <h1 class="govuk-heading-xl govuk-!-margin-bottom-4"><span class="govuk-caption-xl">Help users to</span> {{pageTitle}}</h1>

  {{ govukTag({
    classes: 'govuk-!-margin-bottom-2 dwp-\!-background-dark-grey',
    text: 'Retired'
  }) }}

  <div class="app-prose-scope">
    {% markdown %}{% include "./README.md.njk" %}{% endmarkdown %}
  </div>

  <div class="govuk-!-margin-top-4">
    {% include "_contact-panel.njk" %}
  </div>

{% endblock %}
